<footer class="footer">
  <p>
    &copy; Copyright <span id="currentYear"></span> TuneStreamer. All rights
    reserved.
  </p>
  <script>
    document.getElementById('currentYear').textContent =
      new Date().getFullYear();
  </script>
</footer>
