<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/styles/adminMusic.css" />
    <script defer src="/scripts/user-home.js"></script>
    <title>User for TuneStream | TuneStream</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><span class="logo-part">Tune</span>Streamer</h1>
        <img
          class="user-profile-logo"
          src="images/circle-user.svg"
          alt="User"
        />
      </div>
      <div class="menu-toggle">
        <div class="menu">
          <a href="/signout" class="link link-sign-out">Sign out</a>
        </div>
      </div>

      <section class="get">
        <div class="search-container">
          <div class="search-wrapper">
            <input
              id="input"
              class="search-input"
              type="text"
              placeholder="Song title or artist name"
            />
            <img id="search" src="/images/search.svg" class="search-icon" />
          </div>
        </div>
      </section>

      <section class="section-search-result">
        <div class="music-search-result"></div>
      </section>

      <section class="player">
        <div class="player-container">
          <i class="fa-solid fa-x"></i>
          <div class="player-control">
            <span class="progress-timer"></span>
            <i class="fa-solid fa-backward"></i>
            <i class="fa-solid fa-play audioController playerController"></i>
            <i class="fa-solid fa-forward"></i>
            <span class="end-timer"></span>
          </div>
        </div>
      </section>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
